.nav-wrapper {
	padding-left: 16px;
	padding-right: 16px;
}

.nav-wrapper > li {
	padding-left: 16px;
	padding-right: 16px;
}

nav .brand-logo {
	position: relative !important;
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: auto !important;
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
	}
}

.dropdown-content {
	width: auto !important;
}

.twitch-header {
	background-color: #6441A4;
}

.twitch-button {
	background-color: #6441A4;
}

.bilibili-header {
	background-color: #fb7299;
}

.bilibili-button {
	background-color: #fb7299;
}

a.btn-floating.pulse.cyan.tooltipped {
	margin-left: 10px;
}

.auto_overflow {
	overflow: auto;
}

.display_flex {
	display: flex!important;
}

.space_between {
	justify-content: space-between;
}

.space {
	margin: 0 8px;
}

.BLive {
	padding: 16px;
	border: 2px solid lightgray;
	border-radius: 8px;
	min-width: 350px;
	height: 250px;
	background-image: url("../Images/Blive/tv.png");
	background-size: 30% auto;
	background-position: 0% 100%;
	background-repeat: no-repeat;
}

.BLive_title {
	text-align: center;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    font-weight: 500;
    color: #ff85ad;
	margin: 16px 0;
}

.BLive_row {
	margin: 0 12px;
	display:flex;
	justify-content:center;
}

.Blive_code_row {
	height: 48px;
    border: 2px solid lightgray;
    border-radius: 6px;
}

.BLive_close {
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	background-image: url("../Images/Blive/Close.png");
	float: right;
}

.BLive_code_promote_icon {
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	background-image: url("../Images/Blive/question_mark.png")
}

.BLive_code_input {
	font-size: 16px!important;
    font-family: 'Microsoft YaHei'!important;
	height: auto!important;
	margin: 0 -16px 0 -2px!important;
	width: -webkit-fill-available!important;
	padding: 8px 16px!important;
	border: 2px solid lightgray!important;
    border-radius: 4px!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}

.BLive_code_clear {
	display: inline;
	background-size: 16px 16px;
	min-width: 16px;
	height: 16px;
	background-image: url("../Images/Blive/Close01.png");
	position: relative;
	right: 12px;
	top: 14px;
}

.BLive_code_promote_text {
	color: lightgray;
	font-size: 14px;
    font-family: 'Microsoft YaHei';
	margin-left: 4px;
}

.BLive_code_get_text {
	color: #ff85ad;
	font-size: 14px;
    font-family: 'Microsoft YaHei';
}

.BLive_code_save_label {
	font-size: 14px;
    font-family: 'Microsoft YaHei';
	margin-left: 4px;
	font-weight: 500;
	color: gray;
}

.BLive_code_label {
	font-size: 16px;
    font-family: 'Microsoft YaHei';
	font-weight: bold;
	padding: 8px 16px;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 4px;
	min-width: max-content;
}

.BLive_code_save + span {
	display: inline!important;
	background-size: 18px 18px;
	width: 18px!important;
	height: 18x!important;
	background-image: url("../Images/Blive/Ellipse.png");
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.BLive_code_save + span:before {
	border: none!important;
}

.BLive_code_save:checked + span {
	background-size: 18px 18px;
	width: 18x;
	height: 18x;
	background-image: url("../Images/Blive/Vector.png");
	transition: all 0.5s;
}

.BLive_submit {
	background-color: #ff85ad;
	color: white;
	font-size: 16px;
    font-family: 'Microsoft YaHei';
	border-radius: 4px;
	padding: 8px 32px;
	margin: 8px;
}

#twitch-settings-card,
#bilibili-settings-card {
	transition: all 0.5s;
}
